@import "tailwindcss";

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Helvetica Now Display", sans-serif;
}

/* Regular */
@font-face {
  font-family: "Helvetica Now Display";
  src: url("/fonts/HelveticaNowDisplay-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Medium */
@font-face {
  font-family: "Helvetica Now Display";
  src: url("/fonts/HelveticaNowDisplay-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* Semibold */
@font-face {
  font-family: "Helvetica Now Display";
  src: url("/fonts/HelveticaNowDisplay-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* Bold */
@font-face {
  font-family: "Helvetica Now Display";
  src: url("/fonts/HelveticaNowDisplay-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}



.gradient-text {
  background: linear-gradient(
    to right,
    #AC87EB,
    #217BFE,
    #078EFB,
    #AC87EB,
    #EE4D5D
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

button:hover {
  cursor: pointer;
}

.highlight-text {
  color: #4285F4
}